.info {
    padding: 20px;
}

.font-caveat {
    font-family: 'Caveat', 'cursive';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

main{
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-wrapper{
    background-color: #414bb2;
}


.nav-wrapper ul li.active {
    background-color:  #51acf2
  }

 nav .brand-logo{
      color:  #51acf2;
      font-size: 3rem;

  }

  .card-action{
      border-bottom: 1px solid lightgray;
  }

  .row {
      margin: 0;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .page-footer{
    background-color: #414bb2;
  }
  .sidenav{
    background-color: #414bb2;

  }
  .sidenav li{
      background-color: white;
  }